@import url(https://fonts.googleapis.com/css?family=Questrial:regular);
@import url(https://fonts.googleapis.com/css?family=Beth+Ellen:regular);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(./assets/tent_bg_two.jpg);
	font-family: 'Questrial', sans-serif;
	animation: move 16s ease infinite;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 4rem;
}

h1 {
	font-size: 4rem;
}

h3 {
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-family: 'Beth Ellen', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.fa-whatsapp {
	color: greenyellow;
	margin-left: 5px;
}

.info {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(87, 8, 8, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
}

.details {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

a:hover {
	color: green;
}

p>span {
	font-weight: bolder;
}

@keyframes move {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* @media (max-width:) {} */
@media (max-width:1200px) {
	.info {
		font-size: 16px;
	}
}

@media (max-width:1100px) {
	.info {
		font-size: 14px;
	}

	.details {
		flex-direction: column;
		align-items: flex-end;
		gap: 5px;
	}
}

@media (max-width:950px) {
	h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	h3 {
		font-size: 1rem;
	}
}

@media (max-width:900px) {
	.info {
		font-size: 12px;
	}
}

@media (max-width:650px) {
	h1 {
		font-size: 2.5rem;
	}
	.info {
		font-size: 10.5px;
	}
	.info > p {
		display: none;
	}
	.details{
		gap: 12px;
		justify-content: center;
		align-items: center;
	}
	.details > p {
		display: none;
	}
}


@media (max-width:420px) {
	h1 {
		font-size: 1.8rem;
	}
	h3{
		font-size: 0.8rem;
	}
}